.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
    background: linear-gradient(to bottom, #e6e6e6, #f2f2f2);
    border: 1px solid #ececec;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
    background: white;
    border: 1px solid #ececec;
    flex-wrap: wrap;
}

.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
    background: #b4b4b4;
    flex-wrap: wrap;
}

.container4 {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1rem;
    background: white;
    flex-wrap: wrap;
    gap: 10px;
}

.container5 {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1rem;
    background: linear-gradient(to bottom, #e6e6e6, #f2f2f2);
    flex-wrap: wrap;
    gap: 10px;
}